.button{
    -fx-background-color: linear-gradient(#256d7b,#21888f,#256d7b); 
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: whitesmoke;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
  
}

.button:pressed{
    -fx-background-color: linear-gradient(#65e7ff,#65e7aa);

}


.menu-button{
    -fx-background-color: linear-gradient(#256d7b,#21888f,#256d7b); 
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: whitesmoke;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );

}


.menu-button:focused{
    -fx-background-color: linear-gradient(#65e7ff,#65e7aa);
}


